
<%- include('partials/head') %>
<a href="/lessons" >
    <img src="/images/icons/Caret left.svg" alt="caret left">
</a>
<h1 class="heading">Playlist</h1>
<section>
    <h2 class="heading"><%= playlist.title %></h2>
    <img src="https://fdnd-agency.directus.app/assets/<%= playlist.image %>" alt="playlist image">
</section>